<style>
.basicTable {
  font-family: Tahoma, Verdana, Arial, sans-serif ;
  font-size: 10pt;
  border: 2px solid #000088;
  padding: 1px;
  border-collapse: collapse;
  empty-cells: show;
}

INPUT {
  font-family: Tahoma, Verdana, Arial, sans-serif ;
  font-size: 10pt;
}

.Header {
  font-family: Tahoma, Verdana, Arial, sans-serif ;
  font-size: 10pt;
  border-collapse: collapse;
  border: 1px solid #000000;
  width: 100%;
 }

tr.Header {
  background-color: #006BaE;
  color: #ffffff;
  text-align: left;
  padding: 3px;
  width: 100%;
  white-space: nowrap;
  }

.Header a:link {
  color: #ffffff;
  }

.Header a:visited {
  color: #ffffff;
  }

.Header a:hover, .Caption a:active {
  color: #ffffff; text-decoration: none;
  }

.HeaderLeft {
  background-image: url('images/HeaderLeft.gif');
  }

.HeaderRight {
  background-image: url('images/HeaderRight.gif');
  }

.HeaderLeft img{
  width: 3px;
  }

.HeaderRight img{
  width: 9px;
  }

/* Record Options */
.Record {
  font-family: Tahoma, Verdana, Arial, sans-serif ;
  font-size: 10pt;
  margin: 0px;
  border: 1px solid #006BaE;
  width: 100%;
}

.FormTitle {
  color: #ffffff;
  background-color: #006BaE;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.FormSubTitle {
  background-color: #fff6e0;
  color: #000000;
  border: solid 1px #000000;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.FormLabel {
  font-size: 10pt;
  background-color: #efefe0;
  border-right: 0px solid #efefef;
  border-bottom: solid 1px #e8f8ff;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  vertical-align: top;
}

.FormField {
  font-size: 10pt;
  background-color: #ffffff;
  border-left: solid 1px #efefef;
  border-bottom: solid 1px #e8f8ff;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  vertical-align: middle;
}

.FormButton {
  background-color: #efefe0;
  border-right: solid 0px #efefef;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  vertical-align: middle;
}

TD.Tab {
  font-family: Tahoma, Verdana, Arial, sans-serif ;
  font-size: 10pt;
  color: #000000;
  background-color: #D0D0D0;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 0px;
  text-decoration: none;  
}
A.Tab {
  font-family: Tahoma, Verdana, Arial, sans-serif ;
  font-size: 10pt;
  color: rgb( 30% , 30% , 30%);
  background-color: #D0D0D0;
  text-decoration: none;  
}
A.Tab:hover {
  color: rgb( 0% , 0% , 0%);
  font-weight: bold;
  text-decoration: none;
}

.SelectedTab {
  font-size: 10pt;
  color: rgb( 20% , 20% , 20%);
  background-color: rgb( 95%, 95%, 95% );
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
}

.SelectedTab:hover {
  color: rgb( 0% , 0% , 0%);
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
}

.subMenu {
  font-family: Tahoma, Verdana, Arial, sans-serif ;
  font-size: 10pt;
  color: rgb( 50% , 50% , 50%);
  background-color: rgb( 95%, 95%, 95% );
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}

.subMenu:hover {
  font-family: Tahoma, Verdana, Arial, sans-serif ;
  font-size: 10pt;
  color: rgb( 0% , 0% , 0%);
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
}

.selectedSubMenu {
  font-family: Tahoma, Verdana, Arial, sans-serif ;
  font-size: 10pt;
  color: rgb( 50% , 50% , 50%);
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
}

.selectedSubMenu:hover {
  color: rgb( 0% , 0% , 0%);
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
}

TABLE.Grid {
  font-family: Tahoma, Verdana, Arial, sans-serif ;
  font-size: 10pt;
  border: 1px solid rgb( 0% , 0% , 55% );
  padding: 1px;
  empty-cells: show;
}

.Row1 td {
  font-family: Tahoma, Verdana, Arial, sans-serif ;
	font-size: 11;
	padding: 2px;
	empty-cells: show;
	vertical-align: top;
	background-color: #f4f4f4;
	color: #000000;
	}

.Row2 td {
  font-family: Tahoma, Verdana, Arial, sans-serif ;
	font-size: 11;
	padding: 2px;
	vertical-align: top;
	background-color: #ffffff;
	color: #000000;
	}

.RowPointer td {
  font-family: Tahoma, Verdana, Arial, sans-serif ;
	font-size: 11;
	padding: 2px;
	vertical-align: top;
	background-color: #c4c4c4;
	color: #003366;
	}
.Footer td {
  font-family: Tahoma, Verdana, Arial, sans-serif ;
	font-size: 10;
	padding: 3px;
	border-top: 2px groove #777777;
	color: #000000;
  background-color: #efefe0;
	vertical-align: middle;
	white-space: nowrap;
	}

.panel_containerWindow{
	border-left:2px solid #00A2BC;
	border-top:2px solid #00A2BC;
	border-right:2px solid #c0c0c0;
	border-bottom:2px solid #c0c0c0;
	
}
.panel_frontend, .panel_backend, .panel_iframe{
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
	z-index:1;
	top:0px;
	left:0px;
}
.panel_frontend{
	background-color:white;
	z-index:2;
}
.panel_titleBar{
	position:relative;
	height:20px;
	overflow:hidden;
}
.panel_title{
	text-align:center;
	width:100%;
	height:100%;
	color:black;
	font:bold 8pt tahoma,MiscFixed;
	padding-left:5px;
	padding-top:3px;
	z-index:1;
}
.panel_roll, .panel_close{
	position:absolute;
	top:3;
	font:normal 0pt tahoma,
	padding:0px;
	border:0px solid red;
	z-index:2;
	cursor:hand;
}
.panel_shadow{
	position:absolute;
	background-color:#CCCCCC;
}
.panel_content{
	position:relative;
	color:black;
	font:normal 8pt Tahoma,MiscFixed;
	text-align:justify;
	border:1px solid #A3A2BC;
	overflow:auto;
	background-color:white;
}
.panel_statusBar{
	position:relative;
	overflow:hidden;
	width:100%;
	font:normal 0pt Tahoma;
	padding:0px;
	margin:0px;
	border-top:0px solid #A3A2BC;
	height:0px;
}  

</style>
