<link rel="stylesheet" type="text/css" href="/css/classic.css" />
<style type="text/css">
  html{
    color:black !important;
  }
   body{
    color:black !important; 
  }
  button.typeButton{
      border-radius: 4px;
      background-color: white;
      border: 1px solid rgb(192, 192, 192);
      font-size: 11px;
      color: rgb(192, 192, 192);
  }
</style>
<div id="processes-panel" width="80%" />

